<h1>Your Text Analysis</h1>

<h2>Number of Words:<%=@analyzed_test.count_of_words%></h2>
<h2>Vowels:<%=@analyzed_test.count_of_vowels%></h2>
<h2>Consonants:<%=@analyzed_test.count_of_consonants%></h2>
<%result = @analyzed_test.most_used_letter %>
<h2>Most Common Letter:<%=result.keys[0]%>, used <%=result.values[0]%> times</h2>
